# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
env/
venv/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data / Models (optional)
#results/models/
#results/plots/

# OS files
.DS_Store
Thumbs.db
