# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
env/
venv/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data / Models (optional)
data/
results/models/
results/plots/
results/samples/

# OS files
.DS_Store
Thumbs.db
